crds:
  enabled: false

grafana:
  enabled: true
  adminUser: admin
  adminPassword: beeNsaRvaOfHysA2cA7hlICCvV9kzfc1196XZB91
  service:
    type: ClusterIP
  persistence:
   enabled: false

prometheus:
  enabled: true
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false

alertmanager:
  enabled: true

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true

prometheusOperator:
  admissionWebhooks:
    enabled: false
