
grafana:
  enabled: true
  adminPassword: admin
  service:
    type: ClusterIP
  persistence:
   enabled: false

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false

alertmanager:
  enabled: true

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true
